@import "tailwindcss";



@theme {
  --color-lightHover: #f9eaff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  
  --shadow-black: 
    0 4px 6px -1px rgba(0,0,0,0.9),
    0 2px 4px -2px rgba(0,0,0,0.9);
  --shadow-white:
    0 4px 6px -1px rgba(255, 255, 255, 0.9),
    0 2px 4px -2px rgba(255, 255, 255, 0.9);
  
  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
  
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark mode variables (ye automatically apply hongi jab html/body pe .dark class lagi hogi) */
.dark {
  --background: #11001F;
  --foreground: #ffffff;
}


body {
  font-family: var(--font-outfit);
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-padding-top: 7rem;
}
